#intro {
  background-color: #FFFFFF;
  width: 100%;
  background: #1445b3;
  background-size: cover;
}
#intro .container {
  height: 100%;
  padding-top: 60px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  #intro .container .texto-imagen {
    flex-direction: row-reverse;
  }
}
#intro .container .intro-img {
  float: none;
  width: 80%;
  margin: 4rem auto 25px auto;
  /*top right bottom left*/
}
#intro .container .intro-img img {
  max-width: 100%;
  height: auto;
}
#intro .container .intro-text {
  margin: auto;
  width: 100%;
  text-align: center;
}
#intro .container .intro-text h2 {
  font-weight: bolder;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 34px;
}
#intro .container .intro-text h2 span {
  /*padding-right: 13px;*/
  color: #7575e4;
  text-decoration: underline;
}
#intro .container .intro-text .botones-container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#intro .container .intro-text .botones-container .boton {
  letter-spacing: 1px;
  font-size: 14px;
  padding: 10px 32px;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 50px;
  margin: 0 0 1.2rem 0;
}
#intro .container .intro-text .botones-container .get-started {
  border: 2px solid #007bff;
  background-color: #007bff;
}
#intro .container .intro-text .botones-container .get-started:hover {
  background-color: #1445b3;
  border: 2px solid #FFFFFF;
  transition: all 0.3s ease-in-out;
}
#intro .container .intro-text .botones-container .our-services {
  border: 2px solid #FFFFFF;
  margin-top: 5px;
}
#intro .container .intro-text .botones-container .our-services:hover {
  background-color: #007bff;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

#about {
  background: #FFFFFF;
  padding: 60px 0;
}
@media (min-width: 768px) {
  #about .container .about-container {
    display: flex;
    justify-content: center;
  }
}
#about .container .row {
  display: flex;
  flex-wrap: wrap;
}
#about .container .row .first-img {
  /*------Primera imagen con texto, circulos con iconos----*/
  height: auto;
  margin: 20px 0;
  padding-left: 5px;
  padding-right: 5px;
}
#about .container .row .first-img img {
  max-width: 100%;
  vertical-align: middle;
}
#about .container .row .first-container-text {
  position: relative;
  width: 100%;
  padding-left: 15px;
  /*se agrega porq me pisa el container*/
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
#about .container .row .first-container-text p {
  padding: 0;
  margin: 0 0 30px 0;
}
#about .container .row .first-container-text .box {
  background-size: cover;
  padding: 0 0 30px 0;
}
#about .container .row .first-container-text .box:hover .icono {
  background-color: #007bff;
}
#about .container .row .first-container-text .box:hover .icono .fa {
  color: #FFFFFF;
}
#about .container .row .first-container-text .box .icono {
  float: left;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}
#about .container .row .first-container-text .box .icono .fa {
  display: inline-block;
  font-size: 25px;
  color: #007bff;
}
#about .container .row .first-container-text .box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
  margin-top: 0;
  cursor: pointer;
}
#about .container .row .first-container-text .box .text {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
#about .container .second-container-about {
  /*----Segunda imagen con 2 parrafos----*/
  padding-top: 60px;
}
#about .container .second-container-about .second-img {
  position: relative;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}
#about .container .second-container-about .second-img img {
  max-width: 100%;
  height: auto;
}
#about .container .second-container-about .second-container-text {
  padding-top: 2rem;
  position: relative;
  width: 100%;
}
#about .container .second-container-about .second-container-text h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
  color: #444444;
}
#about .container .second-container-about .second-container-text p {
  font-size: 16px;
  color: #444444;
  margin: 0 0 30px 0;
}
#about .container .third-container-about {
  /*----Tercer imagen con parrafo----*/
  padding-top: 60px;
}
#about .container .third-container-about .third-img {
  position: relative;
  width: 100%;
}
#about .container .third-container-about .third-img img {
  max-width: 100%;
  height: auto;
}
#about .container .third-container-about .third-container-text {
  padding-top: 2rem;
  position: relative;
  width: 100%;
}
#about .container .third-container-about .third-container-text h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
  color: #444444;
}
#about .container .third-container-about .third-container-text p {
  font-size: 16px;
  color: #444444;
  margin: 0 0 30px 0;
}

#services {
  padding: 60px 0 40px 0;
  box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.1);
  background-color: #ECF5FF;
}
#services .container .container-box {
  display: flex;
  flex-wrap: wrap;
}
#services .container .container-box .column-box {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}
@media (min-width: 768px) {
  #services .container .container-box .column-box {
    width: 50%;
  }
}
#services .container .container-box .column-box .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
}
#services .container .container-box .column-box .box:hover .title {
  transition: color 0.3s ease-in-out;
  color: #007bff;
}
#services .container .container-box .column-box .box .icono {
  position: absolute;
  left: -10px;
  top: 72px;
}
#services .container .container-box .column-box .box .icono i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}
#services .container .container-box .column-box .box .icono .clock {
  color: lightskyblue;
}
#services .container .container-box .column-box .box .icono .envelope {
  color: grey;
}
#services .container .container-box .column-box .box .icono .envelope-open {
  color: pink;
}
#services .container .container-box .column-box .box .icono .folder {
  color: lightcoral;
}
#services .container .container-box .column-box .box .icono .note {
  color: lightgreen;
}
#services .container .container-box .column-box .box .icono .user {
  color: lightblue;
}
#services .container .container-box .column-box .box .title {
  font-weight: 400;
  font-size: 18px;
  margin: 0 0 20px 40px;
}
#services .container .container-box .column-box .box .description {
  margin: 0 0 0 40px;
}

/*--efecto de MOVE UP--*/
.move-up {
  transition: transform 0.75s;
}
.move-up:hover {
  transform: translate(0, -7px);
}

#why-us {
  padding: 60px 0;
  background-color: #004a99;
}
#why-us .header-why {
  text-align: center;
  position: relative;
  color: #FFFFFF;
}
#why-us .header-why h3 {
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 20px 0;
  padding: 0;
}
#why-us .header-why p {
  font-size: 15px;
  color: #FFFFFF;
  padding-bottom: 60px;
  margin: 0;
}
#why-us .container-row-why {
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  #why-us .container-row-why {
    display: flex;
    flex-direction: row;
  }
}
#why-us .container-row-why .container-card {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 1rem;
}
#why-us .container-row-why .container-card .card {
  margin: 0;
  background: #00458F;
  border-color: #00458F;
  border-radius: 10px;
  border: 1px solid rgb 0, 0, 0, 0.125;
  padding: 15px 0;
  text-align: center;
  color: #FFFFFF;
  transition: 0.4s ease-in-out;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  #why-us .container-row-why .container-card .card {
    width: 115%;
    margin-right: 60px;
    margin-left: 60px;
  }
}
#why-us .container-row-why .container-card .card:hover {
  background-color: #283d50;
}
#why-us .container-row-why .container-card .card:hover .read-more {
  border-bottom: #004a99 solid 2px;
}
#why-us .container-row-why .container-card .card i {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}
#why-us .container-row-why .container-card .card i .fa {
  display: inline-block;
}
#why-us .container-row-why .container-card .card .card-text {
  padding: 1.25rem;
}
#why-us .container-row-why .container-card .card .card-text .title {
  margin-bottom: 0.75rem;
}
#why-us .container-row-why .container-card .card .card-text h5 {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 2px 0;
}
#why-us .container-row-why .container-card .card .card-text .description {
  font-size: 15px;
  color: #d8eafe;
  margin: 0 0 30px 0;
}
#why-us .container-row-why .container-card .card .card-text .read-more {
  color: #FFFFFF;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: #00458F solid 2px;
}
#why-us .container-row-why .container-card .card .card-text .read-more:hover {
  border-bottom: #FFFFFF solid 2px;
}
#why-us .container-row-why .container-card .card .card-text a {
  text-decoration: none;
}
#why-us .container-numeros {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
#why-us .container-numeros .margenes {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 50%;
  max-width: 50%;
}
#why-us .container-numeros .margenes span {
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
}
#why-us .container-numeros .margenes p {
  font-size: 14px;
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 14px;
  color: #FFFFFF;
}

#portfolio {
  background-color: white;
  width: 100%;
  /*height: 100%;*/
  text-align: center;
}
#portfolio .container-portfolio {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
}
#portfolio .container-portfolio .header-portf {
  text-align: center;
  color: #FFFFFF;
}
#portfolio .container-portfolio .header-portf h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
}
#portfolio .container-portfolio .botonesmenu {
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
#portfolio .container-portfolio .botonesmenu .botonmenu {
  cursor: pointer;
  margin: 15px 15px 30px 0;
  display: inline-block;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #007bff;
  border-radius: 50px;
  text-transform: uppercase;
  background: #ecf5ff;
}
#portfolio .container-portfolio .container-img .info-port {
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
}
#portfolio .container-portfolio .container-img .info-port .img-fluid {
  max-width: 100%;
  height: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
  width: 533px;
  height: 250px;
  margin-bottom: 30px;
  border-radius: 10px;
}

#testimonials {
  padding: 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  background: #ecf5ff;
  text-align: center;
}
#testimonials .header-test {
  color: #FFFFFF;
}
#testimonials .header-test h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
}
#testimonials .header-test .testimonials-wrapper {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  #testimonials .header-test .testimonials-wrapper {
    flex-direction: row;
    justify-content: center;
  }
}
#testimonials .testimonials-item {
  text-align: center;
  float: none;
  margin: auto;
}
#testimonials .testimonials-item .testimonials-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
}
#testimonials .testimonials-item h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}
#testimonials .testimonials-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
  font-weight: 400;
}
#testimonials .testimonials-item p {
  font-style: italic;
  margin: 0 0 15px 140px;
  margin-left: 0;
  color: #444;
}

#team {
  background: #fff;
  padding: 60px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
#team .header-team h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
}
#team .header-team p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
}
#team .teams {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  #team .teams {
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1025px) {
  #team .teams {
    flex-direction: row;
  }
}
#team .teams .team1 {
  margin: 20px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  #team .teams .team1 {
    width: 30%;
  }
}
@media (min-width: 1025px) {
  #team .teams .team1 {
    width: 15%;
  }
}
#team .teams .batman {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

#clients {
  padding: 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  background: #ecf5ff;
}
#clients .clients-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
}
#clients .clients-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
}
@media (min-width: 768px) {
  #clients .container-row {
    display: flex;
    flex-wrap: wrap;
  }
}
#clients .client-logo {
  padding: 64px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6eaff;
  border-bottom: 1px solid #d6eaff;
  overflow: hidden;
  background: #fff;
  height: 160px;
}
@media (min-width: 768px) {
  #clients .client-logo {
    width: 25%;
  }
}
#clients .client-logo .img-client {
  max-width: 100%;
  height: auto;
}

#contact {
  padding: 60px 0;
  overflow: hidden;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
#contact .header-contact {
  text-align: center;
  position: relative;
  color: #283d50;
}
#contact .header-contact h3 {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 30px;
}
#contact .container-contact {
  display: flex;
  flex-wrap: wrap;
}
#contact .container-contact .container-mapa {
  width: 100%;
}
#contact .container-contact .container-mapa .mapa {
  margin-bottom: 1.5rem;
}
#contact .container-contact .info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#contact .container-contact .info .caja {
  color: #283d50;
  position: relative;
  width: 100%;
  padding-bottom: 15px;
}
#contact .container-contact .info .caja i {
  float: left;
  line-height: 1;
  font-size: 32px;
  color: #00458F;
}
#contact .container-contact .info .caja p {
  padding: 0 0 10px 50px;
  line-height: 28px;
  font-size: 14px;
}

.form {
  /*-------FORMULARIO--------*/
}
.form .form-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.form .box-form {
  padding-bottom: 1.5rem;
  width: 100%;
}
.form .box-form .form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #FFFFFF;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}
.form .box-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  color: #495057;
}

#contact .form input {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .text-center {
  display: flex;
  justify-content: center;
  width: 100%;
}
#contact .text-center button {
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #FFFFFF;
  background: #007bff;
}
#contact .text-center button:hover {
  background: #1445b3;
  transition: 0.5s;
}

#footer .footer-top h4 {
  font-size: 14px;
  margin: 0 0 20px 0;
  font-weight: 500;
  padding-bottom: 10px;
}

#footer {
  background-color: #004a99;
  padding: 0;
  color: #FFFFFF;
}
#footer .footer-top {
  background: #004a99;
  padding: 60px 0 30px 0;
}
#footer .footer-top .container .info-all {
  display: flex;
  flex-wrap: wrap;
}
#footer .footer-top .container .info-all .margin {
  margin-bottom: 30px;
}
#footer .footer-top .container .info-all .margin h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  color: #FFFFFF;
  letter-spacing: 4px;
}
#footer .footer-top .container .info-all .margin p {
  margin: 0 0 10px 0;
  line-height: 190%;
  font-size: 13px;
}
#footer .footer-top .container .info-all .links-footer {
  width: 100%;
}
#footer .footer-top .container .info-all .links-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}
#footer .footer-top .container .info-all .links-footer ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .container .info-all .links-footer ul li {
  padding: 8px 0;
}
#footer .footer-top .container .info-all .links-footer ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
#footer .footer-top .container .info-all .links-footer ul li a:hover {
  color: #007bff;
  transition: 0.7s;
}
#footer .footer-top .container .info-all .contact-footer p {
  font-size: 14px;
  line-height: 30px;
  padding: 0;
  margin: 0 0 30px 0;
}

.contact-footer {
  width: 100%;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #007bff;
  color: #FFFFFF;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
}
.social-links a:hover {
  background: #1445b3;
  transition: all 0.3s ease 0s;
  color: #FFFFFF;
}

.newsletter-footer {
  margin-bottom: 30px;
}
.newsletter-footer p {
  font-size: 14px;
  padding: 0;
  margin: 0 0 30px 0;
}
.newsletter-footer form {
  margin-top: 0;
}
.newsletter-footer form .email {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  margin: 0;
}
.newsletter-footer form .subscribe {
  cursor: pointer;
  margin: -4px;
  padding: 6px 0;
  border: 0;
  background-color: #007bff;
  color: #FFFFFF;
  text-align: center;
  width: 35%;
}
.newsletter-footer form .subscribe:hover {
  background-color: #1445b3;
  transition: 0.3s;
}

/*-----CREDITS-----*/
.container-credits {
  background-color: #00458F;
  padding: 0 0 20px 0;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.checkbox:checked ~ .fondoapagado {
  box-sizing: border-box;
}

body {
  color: black;
  margin: 0;
}

p {
  font-family: "Open Sans", sans-serif;
}

h2, h3, h4, h5, a, span {
  font-family: "Montserrat", sans-serif;
}

#header {
  z-index: 997;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 0;
  height: 60px;
}
#header .header-container {
  /* margin:5px; al aplicar mueve el menu hide*/
}
#header .header-container .logo-ada {
  float: left;
  padding: 0 0 0 15px;
  margin: 7px 0;
  cursor: pointer;
}
#header .header-container .logo-ada img {
  height: auto;
  max-width: 100%;
  max-height: 26px;
}
#header .header-container .checkbox:checked ~ .menu-hide {
  left: 0%;
}
#header .header-container .checkbox {
  display: none;
}
#header .header-container .flexbox {
  display: flex;
  justify-content: flex-end;
}
#header .header-container .boton-hamburguer {
  height: 40px;
  width: 40px;
  margin-top: 4px;
  margin-right: 8px;
  border: 0;
  position: relative;
  cursor: pointer;
}
#header .header-container .boton-hamburguer .fa {
  font-size: 30px;
  padding-top: 5px;
}

#header .checkbox:checked ~ #overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

/*#overlay{
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 9997;
}*/
.menu-hide {
  width: 75%;
  transition: left 0.2s;
  position: absolute;
  left: -75%;
  top: 0;
  background: rgba(19, 39, 57, 0.9);
  overflow-y: auto;
  z-index: 9999;
  padding-top: 20px;
  padding-bottom: 150%;
  /*display: none;*/
  /*.fondoapagado{
      background-color:$fondoapagado;
      width:100%;
      height:100%;
      z-index: 9997;
      top:0;
      float:right;
  }*/
}
.menu-hide .checkbox2, .menu-hide .checkbox3 {
  float: right;
  display: none;
}
.menu-hide .fa {
  font-size: 20px;
  padding-left: 10px;
  left: 170%;
  position: absolute;
  color: #FFFFFF;
  cursor: pointer;
  top: 29%;
}
.menu-hide .fa:hover {
  color: #00458F;
}
.menu-hide .dropdown1 > .fa {
  font-size: 20px;
  padding-left: 10px;
  left: 170%;
  position: absolute;
  color: #FFFFFF;
  cursor: pointer;
  top: 29%;
}
.menu-hide .drop2 li {
  font-size: 20px;
  padding-left: 10px;
  left: 84%;
  position: absolute;
  color: #FFFFFF;
  cursor: pointer;
  top: 31%;
}
.menu-hide .drop2 .fa {
  top: 317px;
  left: 208px;
}
.menu-hide .dropdown1, .menu-hide .dropdown2 {
  display: none;
}
.menu-hide .checkbox2:checked ~ .dropdown1 {
  display: block;
  margin: 0 0 0 20px;
}
.menu-hide .checkbox3:checked ~ .dropdown2 {
  display: block;
  margin: 0 0 0 20px;
}
.menu-hide ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 0 5px;
  flex-direction: column;
}
.menu-hide ul a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  text-align: left;
  color: #FFFFFF;
  cursor: pointer;
}
.menu-hide ul a:hover {
  color: #74B5FC;
}
.menu-hide ul .celeste-letra {
  color: #74B5FC;
}

#menu-superior {
  background-color: #FFFFFF;
  height: 45px;
  display: block;
}
#menu-superior .celeste-letra {
  color: #74B5FC;
}
#menu-superior ul, #menu-superior li {
  position: relative;
  align-items: flex-end;
  list-style: none;
  float: right;
  margin: 0 30px 0px 20px;
}
#menu-superior ul .dropdown-2, #menu-superior li .dropdown-2 {
  cursor: pointer;
}
#menu-superior .dropdown1-2 {
  background-color: #FFFFFF;
  width: 174px;
  height: 218px;
  color: black;
  text-align: left;
  padding: 5px 6px 0 16px;
  margin: 0 -91px 0 0;
  transition: 3.5s;
}
#menu-superior .dropdown1-2 ul, #menu-superior .dropdown1-2 li, #menu-superior .dropdown1-2 a {
  margin-top: 10px;
}
#menu-superior .dropdown1-2 .drop2-2 {
  width: 150px;
}
#menu-superior .dropdown1-2 .drop2-2 label {
  width: 100%;
}
#menu-superior .dropdown1-2 .drop2-2 .fa {
  float: right;
}

#menu-superior .dropdown1-2, #menu-superior .dropdown2-2, #menu-superior .checkbox2-2, #menu-superior .checkbox3-2 {
  display: none;
}
#menu-superior .checkbox2-2:checked ~ .dropdown1-2 {
  display: block;
}
#menu-superior .checkbox3-2:checked ~ .dropdown2-2 {
  display: block;
}
#menu-superior .dropdown3-2 {
  display: none;
}
#menu-superior .checkbox3-2:checked ~ .dropdown3-2 {
  display: block;
}

.header-all {
  text-align: center;
  position: relative;
  color: #283d50;
}
.header-all h3 {
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 20px 0;
  padding: 0;
}
.header-all p {
  font-size: 15px;
  color: #556877;
  padding-bottom: 60px;
  margin: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*MENU SUPERIOR*/
#menu-superior {
  background-color: #FFFFFF;
  height: 45px;
  display: block;
}
#menu-superior .celeste-letra {
  color: #74B5FC;
}
#menu-superior ul, #menu-superior li {
  position: relative;
  align-items: flex-end;
  list-style: none;
  float: right;
  margin: 0 30px 0px 20px;
}
#menu-superior ul .dropdown-2, #menu-superior li .dropdown-2 {
  cursor: pointer;
}
#menu-superior .dropdown1-2 {
  background-color: #FFFFFF;
  width: 174px;
  height: 218px;
  color: black;
  text-align: left;
  padding: 5px 6px 0 16px;
  margin: 0 -91px 0 0;
  transition: 3.5s;
}
#menu-superior .dropdown1-2 ul, #menu-superior .dropdown1-2 li, #menu-superior .dropdown1-2 a {
  margin-top: 10px;
}
#menu-superior .dropdown1-2 .drop2-2 {
  width: 150px;
}
#menu-superior .dropdown1-2 .drop2-2 label {
  width: 100%;
}
#menu-superior .dropdown1-2 .drop2-2 .fa {
  float: right;
}

#menu-superior .dropdown1-2, #menu-superior .dropdown2-2, #menu-superior .checkbox2-2, #menu-superior .checkbox3-2 {
  display: none;
}
#menu-superior .checkbox2-2:checked ~ .dropdown1-2 {
  display: block;
}
#menu-superior .checkbox3-2:checked ~ .dropdown2-2 {
  display: block;
}
#menu-superior .dropdown3-2 {
  display: none;
}
#menu-superior .checkbox3-2:checked ~ .dropdown3-2 {
  display: block;
}

/*-----MEDIA DEL MENU-----*/
@media (max-width: 442px) {
  #header #menu-superior {
    display: none;
  }
}
@media (min-width: 428px) and (max-width: 574px) {
  #header #menu-superior {
    display: none;
  }
}
@media (min-width: 575px) and (max-width: 765px) {
  #header #menu-superior {
    display: none;
  }
}
@media (min-width: 766px) and (max-width: 990px) {
  #header #menu-superior {
    display: none;
  }
}
@media (min-width: 990px) and (max-width: 1240px) {
  #header .boton-hamburguer {
    display: none;
  }
}
@media (min-width: 1241px) and (max-width: 5000px) {
  #header .boton-hamburguer {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
