$blanco:#FFFFFF;
$azul:#1445b3;
$azul-oscuro:#00458F;
$azul-claro:#004a99;
$celeste:#ECF5FF;
$gris-oscuro:#444444;
$gris:#556877;
$gris-claro:#495057;
$contact:#283d50;
$celeste-menu:rgba(19, 39, 57, 0.9);
$celeste-letra:#74B5FC;
$color-header:#283d50;
$botones:#007bff;
$description-card:#d8eafe;
$fondoapagado:rgba(19, 39, 57, 0.8);
$font-family:'Open Sans', sans-serif;
$font-h:'Montserrat', sans-serif;
$font-parrafo:'Open Sans', sans-serif;
$font-titulo:'Montserrat', sans-serif;
