@import "../common/mixins";
@import "../common/all";
@import "../common/variables";

#about-us {
 padding: 60px 0;
 padding-top: 60px;
 padding-bottom: 60px;
 @include laptop-a {
   margin-right: 80px;
   margin-left: 80px;
 }
 .texto {
   font-family: $font-family;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   padding: 0px 0px 50px;
   color: $gris-oscuro;
   @include laptop-a {
     
     width: 50%;
     text-align: center;
     margin:auto;
   }
 }
 .general {
   @include laptop-a {
     margin-right: auto;
     margin-left: auto;
     width: 100%;
   }
   .todoprimero {
     display: flex;
     flex-direction: column;
     @include laptop-a {
       display: flex;
       flex-direction: row-reverse;
     }
     .gente {
       img {
         width: 100%;
         height: auto;
         vertical-align: middle;
         box-sizing: border-box;
         @include laptop-a {
           width: 100%;
         }
       }
     }
     .wrapgente {
       @include laptop-a {
         width: 100%;
         padding: 0 15px;
       }
       article {
         .primero {
           text-align: left;
           font-family: $font-family;
           font-size: 14px;
           line-height: 24px;
           color: $gris-oscuro;
           margin-bottom: 30px;
         }
       }
     }
   }
 }
 .Eiusmod {
   padding: 0px 0px 30px 0px;
   background-size: cover;
   &:hover .icono {
     background-color: $botones;
     .fa {
       color:$blanco;
     }
   }
 }
 .icono {
   border-radius: 50%;
   height: 55px;
   width: 55px;
   display: flex;
   float: left;
   border: 2px solid #007bff;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   .fa {
     font-size: 25px;
     color: #007bff;
     display: inline-block;
   }
 }
}
.ei {
 font-family: $font-h;
 font-weight: 600;
 font-size: 20px;
 margin: 0px 0 5px 80px;
}
.segundo {
 text-align: left;
 font-weight: 400;
 font-family: $font-h;
 font-size: 14px;
 line-height: 24px;
 color:$gris-oscuro;
 margin: 0px 0px 0px 80px;
}
.general2 {
 display: flex;
 flex-direction: column;
 @include laptop-a {
   display: flex;
   flex-direction: row;
   padding-top: 60px;
 }
 .chica {
   img {
     width: 100%;
     height: auto;
     vertical-align: middle;
     box-sizing: border-box;
     @include laptop-a {
       width: 100%;
       padding: 0 15px;
     }
   }
 }
 .todosegundo {
   @include laptop-a {
     padding: 0 15px;
     max-width: 46%;
   }
   }
   .Sub {
     font-family: $font-family;
     font-weight: 600;
     color: $gris-oscuro;
   }
   .dos {
     font-family: $font-family;
     font-size: 16px;
     color: $gris-oscuro;
     margin-bottom: 30px;
   }
 }
 .reverse {
   @include laptop-a {
     flex-direction: row-reverse;
     justify-content: flex-start;
     padding-top: 60px;
   }
 }