@import "../common/mixins";
@import "../common/all";
@import "../common/variables";


#intro{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: url("../img/intro-bg.png") center no-repeat;
  background-size: cover;
  background-color: #1445b3;
   .texto-imagen{
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
        @include laptop-a{
            flex-direction: row-reverse;
            padding: 60px 0;
        }
        .intro-img{
            max-width: 118%;
            height: auto;
            margin-top: 101px;
            @include laptop-a{
                max-width: 50%;
            }
        }
    .intro-text{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
   }
        h2{
            text-align: center;
            padding: 0px 20px;
            word-wrap: break-word;
            color:$blanco;
            font-weight:400;
            font-size:34px;
            span{
            /*padding-right: 13px;*/
            color:rgb(117, 117, 228);
            text-decoration: underline;
            }
        }
        .botones-container{
            flex-direction: column;
            display: flex;
            @include laptop-a{
                flex-direction: row;
            }
                .boton{
                box-sizing: border-box;
                letter-spacing: 1px;    
                display: inline-block;
                font-size: 14px;
                padding: 10px 32px;
                text-decoration: none;
                color:$blanco;
                border-radius: 32px;  
                margin: 0 20px 20px 0;
    
                transition: all 0.2s;
                }
            .get-started{
            border:2px solid $botones;
            background-color: $botones;
            &:hover{
                background: none;
                border-color: #fff;
                color: #fff;
                }
            }
            .our-services{
            border:2px solid $blanco;
            
            &:hover{
                background-color: $botones;
                border: 2px solid $botones;
               
            }
        }
    }
} 
    
