@import "../common/mixins";

#portfolio {
    background-color:white;
    width: 100%;
   /*height: 100%;*/
    text-align: center;
       .container-portfolio {
        font-size: 36px;
        font-family: $font-h;
          .header-portf{
           text-align: center;
           color:$blanco;
           h3{
           font-size: 36px;
           color: #283d50;
           text-align: center;
           font-weight: 500;
           }
        }
        .botonesmenu {
            padding: 0;
            font-family: $font-family;
            .botonmenu {
                cursor: pointer;
                margin: 15px 15px 30px 0;
                display: inline-block;
                padding: 6px 20px;
                font-size: 12px;
                line-height: 20px;
                color: #007bff;
                border-radius: 50px;
                text-transform: uppercase;
                background: #ecf5ff;                            
            }
        }
        .container-img {    
            .info-port {     
            justify-content: center;
            flex-direction: column;
            margin-left: auto;   
                .img-fluid {
                    max-width: 100%;
                    height: auto;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    width: 533px;
                    height: 250px;
                    margin-bottom: 30px;
                    border-radius: 10px;
            
                }
            }
        }
    }    
}